{% extends "base_app.html" %}
{% load compress %}

{% block title %}Giftly{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="span8">
      <div class="birthday-user-info">
        <div class="row">
          <div class="span2">
            <img class="birthday-facebook-image" src="https://graph.facebook.com/{{ facebook_user.id }}/picture?type=large&amp;width=180&amp;height=180">
          </div>
          <div class="span6">
            <div class="birthday-user-text">
              <p class="birthday-name-paragraph">
                {{ facebook_user.name }}
              </p>
              <p class="birthday-name-paragraph">
                &nbsp;({{ birthday.birthday }})
              </p>
            </div>
            <br>
            <div class="birthday-completion-data">
              <h6 style="color: #888;">{{ days_left }} days until {{ facebook_user.first_name }}'s birthday</h6>
              <div class="birthday-progress progress {{ progress_bar_class }}">
                <div class="bar" style="width: {{ percentage }}%"></div>
                <div class="birthday-contributions-info">
                  {{ num_contributions }} Contributions
                </div>
              </div>
            </div>
            <div class="birthday-completion-stats">
              <div class="row">
                <div class="span2 birthday-funded-info">
                  <h3>{{ percentage }}%</h3><span style="position: relative; top: -10px;">Funded</span>
                </div>
                <div class="span2 birthday-contributed-info">
                  <h3>${{ amount_raised }}</h3><span style="position: relative; top: -10px;">Raised</span>
                </div>
                <div class="span2">
                  <h3>${{ amount_target }}</h3><span style="position: relative; top: -10px;">Required</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <ul class="nav nav-list">
        <li class="nav-header">Contributors</li>
        {% for contribution in contributions %}
          <li class=""><a href="https://wwww.facebook.com/{{ contribution.contributor.facebook_id }}">{{ contribution.contributor.display_name }}</a> ${{ contribution.amount }}</li>
          {% endfor %}
          {% if num_contributions == 0 %}
          <li class="">No contributors</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="birthday-mid-row row">
    <div class="span8">
      <div id="birthday-gift-ideas">
          {% for present in presents %}
          <div class="birthday-box">
            <div class="birthday-portrait">
              <a href="{{ birthday_url }}">
                <div class="birthday-portrait-overlay">
                Gift
                </div>
                <img class="birthday-product-picture" src="{{ present.image_link}}">
              </a>
            </div>
            <div class="birthday-desc">
              <strong>${{ present }}</strong><br>
              <a href="{{ present.item_link}}">{{ present.name }}</a>
            </div>
          </div>
          {% endfor %}
        <div class="span8">
        </div>
      </div>
    </div>
    <div class="span4">
      {% if in_discussion %}
      <div class="birthday-price-well well">
          <label><strong>Recommended Amount: $20</strong></label>
          <input type="text" placeholder="Amount to Contribute">
          <script src="https://checkout.stripe.com/v2/checkout.js"></script>
          <button id="customButton" class="btn btn-primary">Contribute</button>

          <script>
            $('#customButton').click(function(){
              var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
              };

              StripeCheckout.open({
                key:         'pk_test_g1Opam2bETupIcPk8dWqQREi',
                address:     true,
                amount:      5000,
                name:        'Joes Pistachios',
                description: 'A bag of Pistachios',
                panelLabel:  'Checkout',
                token:       token
              });

              return false;
            });
          </script>
        </div>
        {% endif %}
        <div class="birthday-price-well well">
          <label><strong>Suggest a Gift:</strong></label>
          <input id="input-parse-link" type="text" placeholder="http://amazon.com/...">
          <button id="btn-suggest-gift" class="btn btn-success">Suggest</button>
        </div>
        <div class="discussion-well well">
          <label style="text-align: center;"><strong>Discussion:</strong></label>
          {% if in_discussion %}
          <div id='messagesDiv' style="background: white; padding: 5px; margin-bottom: 5px; border: 2px solid #DDD; overflow-y: scroll; height: 300px;"></div>
          <input type='text' id='messageInput' class="input-block-level" placeholder='Message...'>
          {% else %}
          <div style="text-align: center;">
            <button id="btn-join" class="btn btn-info" >Join Discussion</button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% verbatim %}
<script id="product-box-template" type="text/x-handlebars-template">
</script>
{% endverbatim %}

{% compress js %}
<script src="{{ STATIC_URL }}js/birthday.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tokeninput.js"></script>
<script>
$('#btn-suggest-gift').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/present/parse/',
    data: {
      'birthday_id': {{ birthday.id }},
      'item_link': $('#input-parse-link').val(),
    },
    success: function(data){
      window.location.reload();
    }
  });
});
$('#btn-join').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/birthday/join/',
    data: {
      'birthday_id': {{ birthday.id }},
    },
    success: function(data){
      window.location.reload();
    }
  });
});
$('#btn-contribute').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/birthday/pay/',
    data: {
      'birthday_id': {{ birthday.id }},
      'amount': 20,
    },
    success: function(data){
      window.location.reload();
    }
  });
});

var discussionRef = new Firebase('https://giftly.firebaseio.com/discussion/{{ birthday.id }}');

$('#messageInput').keypress(function (e) {
  if (e.keyCode == 13) {
    var name = '{{ user.display_name }}';
    var facebook_id = '{{ user.facebook_id }}';
    var text = $('#messageInput').val();
    discussionRef.push({name:name, facebook_id:facebook_id, text:text});
    $('#messageInput').val('');
  }
});

// Add a callback that is triggered for each chat message.
discussionRef.limit(10).on('child_added', function (snapshot) {
  var message = snapshot.val();
  var message_display = '<div><a href="https://www.facebook.com/' + message.facebook_id + '">' + message.name + '</a>: ' + message.text + '</div>';
  $('#messagesDiv').prepend(message_display);
  var messagesDiv = document.getElementById('messagesDiv');
  messagesDiv.scrollTop = 0;
});

</script>
{% endcompress %}

{% endblock %}
