{% extends "base_app.html" %}
{% load compress %}

{% block title %}Birthday Starter{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="span8">
      <div class="birthday-user-info">
        <div class="row">
          <div class="span2">
            <img class="birthday-facebook-image" src="https://graph.facebook.com/{{ facebook_user.id }}/picture?type=large&amp;width=180&amp;height=180">
          </div>
          <div class="span6">
            <div class="birthday-user-text">
              <p class="birthday-name-paragraph">
                {{ facebook_user.name }}
              </p>
              <p class="birthday-name-paragraph">
                &nbsp;({{ birthday.birthday }})
              </p>
            </div>
            <br>
            <div class="birthday-completion-data">
              {{ days_left }} days until Michael's birthday
              <div class="birthday-progress progress progress-danger">
                <div class="bar" style="width: {{ percentage }}%"></div>
                <div class="birthday-contributions-info">
                  {{ num_contributions }} Contributions
                </div>
              </div>
            </div>
            <div class="birthday-completion-stats">
              <div class="row">
                <div class="span2 birthday-funded-info">
                  {{ percentage }}%<br>Funded
                </div>
                <div class="span2 birthday-contributed-info">
                  ${{ amount_raised }}<br>Funded
                </div>
                <div class="span2">
                  ${{ amount_target }}<br>Required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="span4">
      Contributors
      <a id="btn-join" href="#" class="btn btn-info">Join Discussion</a>
      <a id="btn-contribute" href="#" class="btn btn-info">Contribute</a>
      {% for contribution in contributions %}
      <div class="well">
        <a href="https://wwww.facebook.com/{{ contribution.contributor.facebook_id }}">{{ contribution.contributor.display_name }}</a><br />
        ${{ contribution.amount }}
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="birthday-gift-ideas" class="row">
    <div class="span8">
      <br />
      <input id="input-parse-link" type="text" placeholder="Paste Gift URL Here...">
      <a id="btn-suggest-gift" href="#" class="btn btn-info">Suggest Gift</a>
      {% for present in presents %}
      <div class="well">
        <a href="{{ present.item_link}}">{{ present.name }}</a><br />
        ${{ present.cost }}
        <img src="{{ present.image_link}}" />
      </div>
      {% endfor %}
    </div>
    <div class="span8">
    </div>
  </div>
</div>

{% verbatim %}
<script id="product-box-template" type="text/x-handlebars-template">
</script>
{% endverbatim %}

{% compress js %}
<script src="{{ STATIC_URL }}js/birthday.js"></script>
<script>
$('#btn-suggest-gift').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/present/parse/',
    data: {
      'birthday_id': {{ birthday.id }},
      'item_link': $('#input-parse-link').val(),
    },
    success: function(data){
      window.location.reload();
    }
  });
});
$('#btn-join').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/birthday/join/',
    data: {
      'birthday_id': {{ birthday.id }},
    },
    success: function(data){
      window.location.reload();
    }
  });
});
$('#btn-contribute').click(function() {
  $.ajax({
    type: 'POST',
    url: '/api/birthday/pay/',
    data: {
      'birthday_id': {{ birthday.id }},
      'amount': 20,
    },
    success: function(data){
      window.location.reload();
    }
  });
});
</script>
{% endcompress %}

{% endblock %}
