{% extends "base_app.html" %}
{% load compress %}

{% block title %}Birthday Starter{% endblock %}

{% block content %}

<div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a href="#">Coming Up</a></li>
  </ul>
</div>

<div class="birthday-listing container">
  <div id="birthday-container">
  </div>
</div>

{% verbatim %}
<script id="birthday-box-template" type="text/x-handlebars-template">
<div class="birthday-box">
  <div class="birthday-portrait">
    <a href="{{ birthday_url }}">
      <div class="birthday-portrait-overlay">
      Gift
      </div>
      <img class="birthday-picture" src="{{ picture_url }}">
    </a>
    <div class="birthday-date-box">
      {{ birthday }}
    </div>
  </div>
  <div class="birthday-desc">
    <a href="{{ profile_url }}">{{ name }}</a>
    <div class="birthday-progress progress progress-success">
      {{{ bar_display }}}
      <div class="birthday-contributions">
        {{ num_contributions }} Contributions
      </div>
    </div>
  </div>
</div>
</script>
{% endverbatim %}

{% compress js %}
<script src="{{ STATIC_URL }}js/home.js"></script>
{% endcompress %}

{% endblock %}
